@import '../_colors';

h1 {
  font-weight: bold;
  font-size: 1.2em;
  color: $color-primary-1;
}

.container {
  margin: 10px 15px;
  position: relative;
}

.reset {
  font-size: 0.8em;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}
