<div class='resource'>
  <h3 class='name'>{{resource.display}}</h3>
  <span class='amount'>{{resource.prefix}}{{engine.getResourceCount(resource) | amount:resource.pluralText}}</span> <label class='unit'>{{engine.getResourceCount(resource) | amount:resource.pluralText:true}}</label>
  <div class='expanded' *ngIf="expanded">
    <div class='desc' *ngIf="resource.descText">{{resource.descText}}</div>
    <div class='cost' *ngIf="hasCost()">
      <h4>Resource Cost:</h4>
      <ul>
        <li *ngFor="let cost of getCosts()">
          <label class='costname'>{{cost.name}}:</label>
          <span class='costamount'>{{cost.amount}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class='controls'>
    <span class='toggle' *ngIf="!expanded" (click)="toggleMore()">+ More</span>
    <span class='toggle' *ngIf="expanded" (click)="toggleMore()">- Less</span>
    <button *ngIf="resource.craftText" [disabled]="!engine.isResourceCraftable(resource)" (click)="engine.craftResource(resource)">{{resource.craftText}}</button>
    <button *ngIf="resource.destroyText" [disabled]="engine.getResourceCount(resource) <= 0" (click)="engine.destroyResource(resource)">{{resource.destroyText}}</button>
  </div>
</div>
