@import '../colors';

.group {
  background-color: $color-primary-4;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5px;
  overflow: auto;
}

h2 {
  color: $color-complement-0;
  font-weight: bold;
  font-size: 0.8em;
}
