@import '../colors';

.group {
  background-color: $color-primary-4;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5px;
  overflow: auto;
  border: 2px solid $color-primary-4;
  transition : border 10000ms ease-out;
  &.new {
    border: 2px solid $color-complement-3;
  }
}

h2 {
  color: $color-complement-0;
  font-weight: bold;
  font-size: 0.8em;
}
