@import '../_colors';

.container {
  margin-top: 20px;
  overflow: auto;
}

.log {
  ul {
    height: 6em;
  }
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
