$color-primary-0: #196A96; // Main Primary color */
$color-primary-1: #8DC4E1;
$color-primary-2: #4389AF;
$color-primary-3: #094566;
$color-primary-4: #011520;

$color-complement-0: #EC8D1D; // Main Complement color */
$color-complement-1: #FFD19A;
$color-complement-2: #FFB359;
$color-complement-3: #A05A06;
$color-complement-4: #321B00;
